@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

* {
    font-family: "Martian Mono", monospace;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 48px;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

body {
    background-color: #190952;
}

.homepage {
    width: 90%;
    min-height: 90dvh;
    background-color: #190952;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5dvh 5%;
    gap: 5vw;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer * {
    font-size: 24px;

}

footer nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

@keyframes blink {
    0% {
        height: 100%;
    }

    95% {
        height: 100%;
    }

    97.5% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

.eye_container {
    max-width: 10cm;
    width: 100%;
    aspect-ratio: 2;
    display: flex;
    align-items: center;
}

.eye {
    animation-name: blink;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 100%;
    background-image: url(eye_shape.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

.pupil {
    width: 37.5%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: #190952;
}

.message {
    display: table-cell;
    vertical-align: middle;
}

.v-align {
    display: flex;
    align-items: center;
}

mark {
    color: #190952;
    background: #fff;
}

mark s {
    color: #190952;
    background: #fff;
}