@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

* {
    font-family: "Martian Mono", monospace;
    color: white;
}

.homepage {
    width: 80%;
    height: 80vh;
    background-color: #190952;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    align-items: center;
    justify-content: center;
    padding: 10vh 10% 10vh 10%
}
@keyframes blink {
    0%  { height: 100%; }
    95% { height: 100%; }
    97.5% { height: 0%; }
    100% { height: 100%; }
}
.eye_container {
    max-width: 100%;
    width: 500px;
    aspect-ratio: 2;
    display: flex;
    align-items: center;
}
.eye {
    animation-name: blink;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 100%;
    background-image: url(eye_shape.svg);
    display: flex;
  justify-content: center;
  align-items: center;
        background-size: 100% 100%;
}

.pupil {
  width: 37.5%;
  aspect-ratio: 1;
  border-radius: 101px;
  background-color: #190952;
}
.message {
    display: table-cell;
    vertical-align: middle;
    font-size: 10vw;
    width: 1fr;
}
@media screen and (min-width: 500px) {
    .message {
        font-size: 48px;
    }
}

.v-align {
    display: flex;
    align-items: center;
}

mark {
    color: #190952;
    background: #fff;
}
