main {
    display: flex;
    flex-wrap: wrap;
    background-color: #190952;
}

.eye_container {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1;
}
.eye_container {
    width: 100%;
    height: 50%;
}

.eye_shape {
    max-width: 500;
    max-height: 500;
    width: auto;
    height: auto;
}